:root {
  --c-bg: 245, 245, 245;
  --c-sort-bg: 113, 113, 122;
  --c-text: 60, 60, 67;
}

.dark {
  --c-bg: 30, 30, 32;
  --c-sort-bg: 163, 163, 163;
  --c-text: 220, 220, 220;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2147483646;
}
.dark::view-transition-old(root) {
  z-index: 2147483646;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
}
html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  color: var(--shiki-light);
}

html, body {
  --uno: text bg;
}

@font-face {
  font-family: 'Commit Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(/fonts/CommitMono.woff2) format('woff2');
}
