::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 2147483646;
}
.dark::view-transition-old(root) {
  z-index: 2147483646;
}
.dark::view-transition-new(root) {
  z-index: 1;
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark);
}
html:not(.dark) .shiki,
html:not(.dark) .shiki span {
  color: var(--shiki-light);
}

body {
  --uno: text-basecolor bg-basecolor;
}

@font-face {
  font-family: 'Commit Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(/fonts/CommitMono.woff2) format('woff2');
}
