/* .slidev-code {
  font-size: 1em !important;
  line-height: 1.4em !important;
} */

@import url('./rainbow.css');

h6 {
  text-transform: initial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.dark #slide-content {
  background-color: black !important;
}

/* Transitions */
.slidev-vclick-target {
  transition: opacity 400ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
}

img.slidev-vclick-hidden {
  transition: none;
}

/* DevTools Logo Animation */
.nuxt-devtools-logo.slidev-vclick-target {
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 500ms;
}

.nuxt-devtools-logo.slidev-vclick-hidden {
  transform: scale(0.2);
}

iframe {
  background: black;
}

.number-bg {
  --uno: absolute text-40em font-bold op8 left--10 top--50 z--1;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 9999;
}

.dark::view-transition-old(root) {
  z-index: 9999;
}

.dark::view-transition-new(root) {
  z-index: 1;
}

/* Reset slidev built-in css */
.slidev-layout a {
  color: rgba(var(--c-context, 192 132 252), var(--un-text-opacity, 1));
  text-decoration: none;
}

i {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: text-bottom;
}

[i-my-logos-elk=""] {
  background: url(/logos/elk.svg) no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1em;
  height: 1em;
}

[i-my-logos-onu-ui=""] {
  background: url(/logos/onu-ui.svg) no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1em;
  height: 1em;
}

[i-my-logos-unpreset=""] {
  background: url(/logos/unpreset.svg) no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  width: 1em;
  height: 1em;
}

h1 {
  display: inline-block;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  color: transparent !important;
  background-image: linear-gradient(45deg, rgb(192 132 252 / 1) 0%, rgb(248 113 113 / 1) 100%) !important;
  font-family: "Ubuntu";
}
